*,*:before, *:after {
 box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 2em;
  margin-left: 12%;
  margin-right: 12%;
  }

.container {
  box-sizing: border-box;
  width: 420px;
}

nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 10px 0px 15px 15px;
  position: fixed;
  width: 420px;
}

.content {
  display: inline-block;
}

.restaurant-list {
  background-color:#CCCCCC;
  padding-top: 11%;
  width:420px;
}

.restaurant-list h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.restaurant-list h3 {
  font-size: 1.25em;
}

.location {
  box-sizing: border-box;
  border-bottom: 1px solid #7F7F7F;
  padding: 3%;
  width: 100%;
}

.arrow {
  float: right;
	padding-top: 3%
}

.location:hover {
  background-color: #7F7F7F;
  width: 100%;
}
